[user]
	email = alling.simon@gmail.com
	name = Simon Alling
[alias]
	s = status
	d = diff
	lo = log --oneline
	ds = diff --staged
	cm = commit -m
	ca = commit --amend
	cb = checkout -b
	ri = rebase -i
	ap = add -p
	lob = log --oneline --decorate --graph --branches
[core]
	excludesFile = /home/alling/.gitignore
	quotepath = off # so special characters are shown verbatim in file names
