[user]
	email = alling.simon@gmail.com
	name = Simon Alling
[alias]
	s = status
	d = diff
	lo = log --oneline
	ds = diff --staged
	cm = commit -m
	ca = commit --amend
	c = checkout
	cb = checkout -b
	ri = rebase -i
	ap = add -p
	lob = log --oneline --decorate --graph --branches
	update = !git checkout master && git pull
	my = ![ -z "$1" ] && echo "Usage: git my REPO_NAME" && exit 1 || git clone git@github.com:SimonAlling/$1
[core]
	excludesFile = /home/alling/.gitignore
	quotepath = off # so special characters are shown verbatim in file names
